<head>
    <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<style>
    #owl-demo .owl-item > div img {
      display: block;
      width: 100%;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: 4px;
    }

    #owl-demo .owl-item > div {
      padding: 0px 2px
    }

    .active {
      color: red;
    }

    .hide {
      display: none;
    }
</style>
<body>
    <div id="project-terms"> <a id="all" class="active" href="#">ALL</a>
  <a id="cat1" href="#">CAT1</a>
  <a id="cat2" href="#">CAT2</a>
  <a id="cat3" href="#">CAT3</a>

</div>
<div id="owl-demo" class="owl-carousel">
  <div class="project cat1">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat1" alt="" />
  </div>
  <div class="project cat1">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat1" alt="" />
  </div>
  <div class="project cat1">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat1" alt="" />
  </div>
  <div class="project cat1">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat1" alt="" />
  </div>
  <div class="project cat1">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat1" alt="" />
  </div>
  <div class="project cat1">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat1" alt="" />
  </div>
  <div class="project cat1">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat1" alt="" />
  </div>
  <div class="project cat2">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat2" alt="" />
  </div>
  <div class="project cat2">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat2" alt="" />
  </div>
  <div class="project cat2">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat2" alt="" />
  </div>
  <div class="project cat3">
    <img src="http://placehold.it/100x100/42bdc2/FFFFFF&text=cat3" alt="" />
  </div>
</div>
<div id="projects-copy" class="hide"></div>

</body>
<script>
    $('.owl-carousel').owlCarousel({
        loop:false,
        margin:15,
        nav:true,
        autoplay: true,
        autoplaySpeed: 3000,
        autoplayTimeout:7000,
        autoplayHoverPause:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:2
            },
            1000:{
                items:4
            }
        }
    })
</script>
<script>
    $(document).ready(function() {
      var options = {
        navigation: true,
        pagination: true
      };
      $("#owl-demo").owlCarousel(options);

      function showProjectsbyCat(cat) {
        var owl = $("#owl-demo").data('owl.carousel');

        var nb = owl.items().length;
        console.log(nb)
        for (var i = 0; i < nb; i++) {
          owl.remove(i);
        }

        if (cat == 'all') {
          $('#projects-copy .project').each(function() {
            owl.add($(this).clone());
            owl.refresh();
          });
        } else {
          $('#projects-copy .project.' + cat).each(function() {
            console.log($(this).clone());
            owl.add($(this).clone());
            owl.refresh();
          });
        }
      }
      $('#owl-demo .project').clone().appendTo($('#projects-copy'));
      $('#project-terms a').click(function(e) {
        e.preventDefault();
        $('#project-terms a').removeClass('active');

        cat = $(this).attr('ID');
        $(this).addClass('active');
        showProjectsbyCat(cat);
      });
    });
</script>