<style>
    #fancyButton, #fancyButton:hover{
        color: white;
        text-decoration: none;
        position: relative;
        padding: 14px 32px 12px;
        font-family: 'Play', sans-serif;
    }

    #mainText span, #fancyButton, h2{
        color: white;
        font-family: "Play", sans-serif;
    }

    #mainText{
        animation: jump-combo 1s ease-in-out alternate; /* Combined animation */
    }


    #mainText h2{
        color: white;
        font-weight: bold;
    }

    #mainText{
        padding-top: 10%;
    }

    #fancyButton, #mainText{
        font-size: 1rem;
    }

    #background{
        height: 40rem;
        background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('https://res.cloudinary.com/dk2fdiuvb/image/upload/v1716592638/Background%20media/mbyz8vjxi8sxwyvzcepa.jpg') no-repeat center top;
        background-size: cover;
    }

    #centerSection{
        background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('https://preview.colorlib.com/theme/videograph/img/callto-bg.jpg.webp') no-repeat center top;
        height: 30rem;
    }

    .navbarStyle .navbar-nav li:first-child a.nav-link::before {
        visibility: visible;
        width: 80%;
        opacity: 1;
    }




    #fancyButton::before, #fancyButton::after{
        content: '';
        position: absolute;
        width: 15%;
        height: 70%;
        transition: width 1s ease-in-out, height 1s ease-in-out;
    }

    #fancyButton::before {
        top: 0;
        left: 0;
        border-left: 2px solid cyan;
        border-top: 2px solid cyan;
        transform-origin: top left;
    }

    #fancyButton:hover::before, #fancyButton:hover::after{
        width: 100%;
        height: 100%;
        transform: scaleX(1) scaleY(1);
    }

    #fancyButton::after {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid cyan;
        border-right: 2px solid cyan;
        transform-origin: bottom right;
    }



    #secondTitle h2{
        position: relative;
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
    }


    #secondTitle span{
        color: silver;
        font-size: 1.5rem;
        font-weight: bold;
    }

    #secondTitle h2::after{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 70px;
        background: #00bfe7;
        content: "";
    }






    .spinningSquare{
        padding: 15px;
        bottom: 0;
        right: 0;
        border: 2px solid cyan; /* Add a border to the image */
        transition: transform 0.5s ease-in-out; /* Smooth transition for the rotation */
    }

    .spinningSquare:hover {
        transform: rotate(50deg);
    }





    #centerSectionButton, #centerSectionButton:hover{
        text-decoration: none;
        color: white;
        background-color: rgb(0, 153, 185);
        font-family: 'Play', sans-serif;
        padding: 2%;
    }

</style>
{% extends 'layout.html' %}
{% block title %}Portfolio{% endblock %}
{% block backgroundContent %}
<div class="row">
    <div class="col col-md-6" id="mainText">
        <span>FOR WEBSITE AND VIDEO EDITING</span>
        <h2 class="display-3 pb-5 py-3">PROGRAMMER'S PORTFOLIO</h2>
        <a id="fancyButton" href="{% url 'mainApp:index' %}">SEE MORE ABOUT ME</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-lg-5 col-md-12 mb-5" id="secondTitle">
        <span>MY SERVICES</span>
        <h2 class="pb-3">WHAT I DO?</h2>
        <p class="pb-5 py-3" style="color: silver">If you hire a videographer of our team you will get a video professional
        to make a custom video for your business card and, once the project is over.</p>
        <a id="fancyButton" href="{% url 'mainApp:index' %}" >VIEW ALL SERVICES</a>
    </div>
    <div class="col col-lg-7 col-md-12">
        <div class="row">
            <div class="pb-4 col col-lg-6 col-md-12 col-sm-6">
                <img class="mb-4 spinningSquare" src="https://preview.colorlib.com/theme/videograph/img/icons/si-1.png.webp" alt="Image">
                <h3 class="text-white">Motion graphics</h3>
                <p style="color: silver">Whether you’re halfway through the editing process, or you haven’t even started, our post production services can put the finishing touches.</p>
            </div>

            <div class="pb-4 col col-lg-6 col-md-12 col-sm-6">
                <img class="mb-4 spinningSquare" src="https://preview.colorlib.com/theme/videograph/img/icons/si-3.png.webp" alt="Image">
                <h3 class="text-white">Video distribution</h3>
                <p style="color: silver">Whether you’re halfway through the editing process, or you haven’t even started, our post production services can put the finishing touches.</p>
            </div>

            <div class="pb-4 col col-sm-6 col-lg-6 col-md-12 col-sm-6">
                <img class="mb-4 spinningSquare" src="https://preview.colorlib.com/theme/videograph/img/icons/si-2.png.webp" alt="Image">
                <h3 class="text-white">Scriptwriting and editing</h3>
                <p style="color: silver">Whether you’re halfway through the editing process, or you haven’t even started, our post production services can put the finishing touches.</p>
            </div>

            <div class="pb-4 col col-sm-6 col-lg-6 col-md-12 col-sm-6">
                <img class="mb-4 spinningSquare" src="https://preview.colorlib.com/theme/videograph/img/icons/si-4.png.webp" alt="Image">
                <h3 class="text-white">Video hosting</h3>
                <p style="color: silver">Whether you’re halfway through the editing process, or you haven’t even started, our post production services can put the finishing touches.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block centerSection %}
<div id="centerSection">
    <div class="container" style="max-width: 75%">
        <div class="row">
            <div class="col col-md-6" id="mainText">
                <span>FOR WEBSITE AND VIDEO EDITING</span>
                <h2 class="display-3 pb-5 py-3">PROGRAMMER'S PORTFOLIO</h2>
                <a id="fancyButton" href="{% url 'mainApp:index' %}">SEE MORE ABOUT ME</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}