h1, h3, p{
    color: white;
}

*{
    scrollbar-width: thin; 
    scrollbar-color: cyan transparent;
}

li::marker {
    color: white;
}

ul{
    padding-left: 10px;
}

img{
    max-width: 100%;
}

.image-video-wrapper {
    position: relative;
    display: inline-block; 
}

.image-video-wrapper img {
    display: block; 
    width: 100%; 
    height: auto; 
}

.overlay-video {
    position: absolute;
    bottom: 0;
    left: 0;
}

.flex-container {
    display: flex;
    align-items: center; 
}
