.navbarStyle a, .navbarStyle a:hover, #portfolioBrand, #logo{
    position: relative;
}

#project-terms a{
    font-size: 1.2rem;
    padding-right: 5px;
}  

@media (min-width: 991px) {
    .container{
        max-width: 75%;
    }

    .card{
        transition: all 0.3s;
    }

    .card:hover{
        transform: scale(1.08);
    }

    .nav-link:focus{
        color: inherit;
    }

    .navbarStyle a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 20%;
        height: 0.1rem;
        background-color: cyan;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        transform: translateX(-50%);
        opacity: 0;
    }

    @keyframes jump-combo {
      0% { transform: translateY(0); } 
      50% { transform: translateY(-20px); } 
      100% { transform: translateY(0); }
    }

    .navbarStyle a:hover::before {
        visibility: visible;
        width: 80%;
        opacity: 1;
    }

    #sidebarButton{
        display: none;
    }
    
}

/* Responsive height adjustment for smaller screens */
@media (max-width: 800px) {
    #background {
        height: 50vh; 
    }

    .rulerSection{
        color: white;
        opacity: 1;
    }

    #fancyButton::before, #fancyButton::after{
        width: 100%;
        height: 100%;
        transform: scaleX(1) scaleY(1);
    }

    #project-terms a{
        font-size: 1rem;
        padding-right: 0;
    }
}


#centerSection{
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('https://preview.colorlib.com/theme/videograph/img/callto-bg.jpg.webp') no-repeat center center;
    background-size: contain;
    background-size: 100% auto;
    padding: 10% 0%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.card p{
    font-size: 1.15rem;
}

#mobileBackground{
    background-color: rgb(16, 0, 40);
}

#logo{
    height: auto;
    width: 40px;
    top: -0.5rem;
}

#contact span, #contact a{
    color: lightgray;
    padding-bottom: 5%
}

.contactIcons{
    max-width: 10%;
}


.contactIcons li a:hover{
    color: cyan;
}

.contactIcons::before{
    background: rgba(225, 225, 225, 0.2);
    width: 1px;
    height: 15px;
    left: 0;
    position: relative;
    content: "";
}

.contactIconsBelow .nav-link {
    display: inline-flex; 
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    margin-left: 10px;
    border-radius: 50%; 
    background-color: #FFF; 
    text-decoration: none; 
    z-index: 2;
}

.contactIconsBelow .fa {
    color: black; 
    font-size: 24px;
}

.contactIconsBelow .nav-link:hover .fa {
    color: purple;
}


#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vh;
    z-index: 999;
    background: linear-gradient(135deg, rgba(128, 0, 128, 0.9), rgba(0, 0, 255, 0.9));
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%); /* Initially move the sidebar off the screen */
    transition: transform 0.3s ease-out; /* Animate the transform property */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


#sidebar .nav-item:after{
    content: "";
    display: block;
    border-bottom: 2px solid cyan;
}



#fancyButton, #fancyButton:hover{
    position: relative;
    padding: 14px 32px 12px;
}

#fancyButton:hover, #mainText span, #mainText h2, #fancyButton, h2, #sidebar li a, #project-terms a, .navbarStyle a, .navbarStyle a:hover, #portfolioBrand, .card h4, .card p, .contactIcons li a, .navbarStyle, #centerNav a, #secondTitle h2{
    color: white;
    font-family: "Play", sans-serif;
    text-decoration: none;
}

.contactIcons li a:focus{
    color: cyan;
}
#mainText{
    animation: jump-combo 1s ease-in-out alternate; 
}


#mainText h2{
    font-weight: bold;
}


#fancyButton, #mainText{
    font-size: 1rem;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#computerScienceTitle{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#fancyButton{
    background-color: rgba(0, 0, 0, 0.3);
}

#background{
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://res.cloudinary.com/dk2fdiuvb/image/upload/v1716592638/Background%20media/mbyz8vjxi8sxwyvzcepa.jpg') no-repeat center top;
    background-size: cover;
    padding-bottom: 10%;
}


#verticalCenter{
    display: flex;
    align-items: center;
    position: relative;
}

.rulerSection{
    opacity: 0;
}

.modal-content{
    background: linear-gradient(135deg, rgba(16, 0, 40, 1), rgba(0, 255, 255, 1));
    backdrop-filter: blur(10px);
}


.modal-content h4, .modal-content p, .modal-content h6{
    font-family: 'Play', sans-serif;
    color: ghostwhite;
}

.modal-content h6{
    font-size: 1.8vh;
    padding-top: 5%;
}


.modal-content::before{
    content: '';
    position: absolute;
    width: 170px;
    margin-left: 35%;
    top: -25%;
    height: 150%;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
    overflow: hidden;
}

.modal-content div{
    z-index: 3 !important;
}

.modal-content::after{
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 5px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#fancyButton::before, #fancyButton::after{
    content: '';
    position: absolute;
    width: 15%;
    height: 70%;
    transition: width 1s ease-in-out, height 1s ease-in-out;
}

#fancyButton::before {
    top: 0;
    left: 0;
    border-left: 2px solid cyan;
    border-top: 2px solid cyan;
    transform-origin: top left;
}

#fancyButton:hover::before, #fancyButton:hover::after{
    width: 100%;
    height: 100%;
    transform: scaleX(1) scaleY(1);
}

#fancyButton::after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid cyan;
    border-right: 2px solid cyan;
    transform-origin: bottom right;
}


#carouselPart .card{
    height: 50vh;
}

.card{
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 50vh;
}

.gitLink{
    position: absolute; 
    bottom: 10px; 
    right: 10px;
}

.card-img-top {
    object-fit: cover;
    height: 28vh;
}

.checkMark{
    color: cyan;
}


#secondTitle h2{
    position: relative;
    font-weight: bold;
    font-size: 2.5rem;
}


#secondTitle span{
    color: silver;
    font-size: 1.5rem;
    font-weight: bold;
}

#secondTitle h2::after{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: #00bfe7;
    content: "";
}

* {
    scrollbar-width: thin;
    scrollbar-color: cyan transparent;
}


.spinningSquareWrapper {
    position: relative;
    display: inline-block;
}

.spinningSquareWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid cyan; 
    transition: transform 0.5s ease-in-out; 
    box-sizing: border-box;
}

.spinningSquareWrapper:hover::before {
    transform: rotate(50deg);
}

.spinningSquare {
    display: block; 
}



.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.fadeIn {
    opacity: 0;
    transform: translateY(20px); 
    animation: fadeInUpAnimation 1s forwards;
}

@keyframes fadeInUpAnimation {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.project-carousel {
    width: 90%;
    margin: auto;
    background: #000;
    background-color: transparent; 
  }
  
  .project-carousel .slick-slide {
    padding: 0 10px;
  }
  
  .project-card {
    background: linear-gradient(135deg, rgba(0, 255, 255, 0.9), rgba(255, 255, 255, 0.0));
    backdrop-filter: blur(10px);
    height: 50vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transition: all 0.3s;

    overflow: hidden;
    border: 2px solid cyan;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project-card:hover {
    transform: scale(1.08);
  }
  
  .project-card img {
    object-fit: cover;
    height: 28vh;
    width: 100%;
    max-width: 100%;
    border-radius: 15px 15px 0 0; 
  }
  
  .project-card h3,
  .project-card p {
    color: white;
    font-family: "Play", sans-serif;
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .project-card p {
    font-size: 1.15rem;
  }
  
  .github-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #00bfe7;
  }
  
  .github-link:hover {
    color: cyan;
  }
  
  .project-filters {
    padding-top: 18px;
    border-bottom: 1px cyan solid;
    margin-bottom: 20px;
  }
  
  .project-filters button {
    font-size: 1.2rem;
    padding-right: 5px;
    color: white;
    font-family: "Play", sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .project-filters button:hover,
  .project-filters button.active {
    color: cyan;
  }
  
  /* Reveal animation */
  .reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  
  @media (max-width: 800px) {
    .project-filters button {
      font-size: 1rem;
      padding-right: 0;
    }
    
    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }



  .slick-prev, .slick-next {
    background: none; 
    border: none;     
  }
  
  .slick-prev:before, .slick-next:before {
    display: none;
  }
  

  
  .slick-slider, .slick-list, .slick-track {
    background-color: transparent; 
  }
  


  .contactIconsBelow .nav-link {
    display: inline-flex; 
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    margin-left: 10px;
    border-radius: 50%; 
    background-color: #FFF; 
    text-decoration: none;  
    z-index: 2;
}

.contactIconsBelow .fa {
    color: black; 
    font-size: 24px;
}

.contactIconsBelow .nav-link:hover .fa {
    color: purple;
}





.btn-close{
    filter: invert(100%);
}